<h1>Homepage Restaurant</h1>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.category %></p>
  <p><%= restaurant.phone_number %></p>
<% end %>


<%= link_to 'Create Restaurant', new_restaurant_path %>
